<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cafe Huelen API</title>
	<meta name="author" content="David Grzyb">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
</head>
<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0" style="font-family:'Lato',sans-serif;">
    <header class="max-w-lg mx-auto">
        <a href="/" class="text-4xl font-bold text-white text-center"><h1>Cafe Huelen API</h1></a>
    </header>
<div class="flex flex-row flex-wrap">
    <section class="w-full bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
        <h1 class="text-4xl font-bold pb-10 text-green-800 text-center">Productos</h1>
        <a href="categoria"><button class="w-full text-center flex flex-col api-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Categorias</button></a>
        <a href="ingrediente"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Ingredientes</button></a>
        <a href="ingrediente_prep"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Ingredientes preparacion</button></a>
        <a href="preparacion"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Preparaciones</button></a>
    </section>
    <section class="w-full bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
        <h1 class="text-4xl font-bold pb-10 text-green-800 text-center">Compra</h1>
        <a href="cupon"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Cupones</button></a>
        <a href="compra"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Compras</button></a>
        <a href="item_compra"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Item compras</button></a>
        <a href="/admin"><button id="adm-btn" class="w-full flex flex-col bg-red-600 mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Admin</button></a>
    </section>
    <section class="w-full bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
        <h1 class="text-4xl font-bold pb-10 text-green-800 text-center">Local</h1>
        <a href="local"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Locales</button></a>
        <a href="totem"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Totems</button></a>
        <a href="superv_local"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl bg-red-700" type="button">Supervisores</button></a>
        <a href="proveedor"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Proveedores</button></a>
        
    </section>
</div>
</body>
<footer class="">
    <h1 class="text-center text-white font-bold text-2xl">Hecho por BrewSoftware</h1>
</footer>
<style>
    .body-bg {
        background-color: #059669;
    }
    .api-btn{
        background-color: #008875;
    }
    .api-btn:hover{
        background-color: #007879;
    }
    #adm-btn:hover{
        background-color: #b20008;
    }
</style>
</html>

