<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cafe Huelen API</title>
	<meta name="author" content="David Grzyb">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
</head>
<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0" style="font-family:'Lato',sans-serif;">
    <header class="max-w-lg mx-auto">
        <a href="/" class="text-4xl font-bold text-white text-center"><h1>Cafe Huelen API</h1></a>
    </header>
    <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
        <section class="">
            <a class="flex flex-col" method="POST">
                <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
                <a href="api/categoria"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 bg-purple-600 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="button">Categorias</button></a>
                <a href="api/ingrediente"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 bg-purple-600 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="button">Ingredientes</button></a>
                <a href="api/ingrediente_prep"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 bg-purple-600 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="button">Ingredientes preparacion</button></a>
                <a href="api/preparacion"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 bg-purple-600 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="button">Preparaciones</button></a>
                <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
                <a href="api/cupon"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 bg-purple-600 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="button">Cupones</button></a>
                <a href="api/compra"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 bg-purple-600 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="button">Compras</button></a>
                <a href="api/item_compra"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 bg-purple-600 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="button">Item compras</button></a>
                <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
                <a href="admin"><button id="adm-btn" class="w-full flex flex-col mb-6 pb-4 pt-4 bg-red-600 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="button">Admin</button>

            </a>
        </section>
    </main>
</body>
<footer class="text-center text-white font-bold text-2xl">Hecho por BrewSoftware</footer>
<style>
    .body-bg {
        background-color: #059669;
    }
    .api-btn{
        background-color: #008875;
    }
    .api-btn:hover{
        background-color: #007879;
    }
    #adm-btn:hover{
        background-color: #b20008;
    }
</style>
</html>

